@model IEnumerable<ProyectoGenNHibernate.EN.Proyecto.UsuarioEN>
@using ProyectoGenNHibernate.EN.Proyecto;
@{
    ViewBag.Title = "Página principal";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Usuario", "Create")

</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nickname)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EsPremium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string email = ""; //User.Identity.GetUserName()
        if (Session["Usuario"] != null)
        {
            email = ((UsuarioEN)Session["Usuario"]).Email;
        }
        if (email != item.Email)
        {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.Nickname)
    </td>


    <td>
        @Html.DisplayFor(modelItem => item.Edad)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EsPremium)
    </td>
    <td>
        <img height="60" width="100 " src="@Html.DisplayFor(modelItem => item.Foto)" />
    </td>
    <td>
        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

    </td>
</tr>
        }
    }

</table>
