@model IEnumerable<ProyectoDSM.Models.PremiumViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @{int pagina = -1;
        if (ViewData["pagina"] != null)
        {
            pagina = ((int)ViewData["pagina"]);
        }
    }
    @Html.ActionLink("Siguiente", "Index", new { pagina= ++pagina  })
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_caduca)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Precio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_caduca)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>

}

</table>
